@tailwind base;
@tailwind components;
@tailwind utilities;

#heading{
    background: linear-gradient(to left,
    violet, indigo, blue, green, yellow, orange, red);
    background-clip: text;
    display: inline;
    color: transparent;
    animation: animated 5s linear infinite;
}

@keyframes animated{
    to {background-position-x: 161px;}
}

.card{
    position: relative;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    height: 200px;
    width: 380px;
}

.input{
    display: flex;
  flex-direction: column;
  align-items: center;
}

.button{    
    display: flex;
    margin:auto;
    margin-top: 40px;
}

.card .delete {
    position: absolute;
    top: 10px; 
    right: 10px; 
    background-color: transparent; 
    border: none; 
    color: red; 
    cursor: pointer; 
  }

  